.badge_green {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #bae0bd;
    position: relative;
    left: 5px;
}

.badge_lime {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(187, 241, 86);
    position: relative;
    left: 5px;
}

.badge_pink {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(226, 141, 188);
    position: relative;
    left: 5px;
}

.badge_blue {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(150, 198, 235);
    position: relative;
    left: 5px;
}

.badge_grey {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #83837c;
    position: relative;
    left: 5px;
}

.badge_purple {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(160, 151, 212);
    position: relative;
    left: 5px;
}

.badge_black {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(5, 0, 8);
    position: relative;
    left: 5px;
}

.badge_red {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(192, 45, 19);
    position: relative;
    left: 5px;
}